/* Site Font */
/*
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
} 
 /*
  header{
    background: url(img/brianLewicki-unsplash-1589352511666-341e33517a0b.jpg);
    background-size: cover;
    background-position: center;
    min-height: 150px;
  }
  */
  .container {
    position: relative;
  }
 .page-header {
   color:rgb(223, 236, 32);
 }
  .text-block {
    position: absolute;
    bottom: 200px;
    right: 200px;
    background: transparent;
    color: rgb(19, 46, 165);
    padding-left: 10px;
    padding-right: 20px;
  
    text-align: center;
    font-weight: 250;
    text-shadow: 2px 2px #333;
  
  }
  .contact{
    height: 50%;
    width: 50%;
    padding-left: 5px;

  }
  .h4{
      padding-left: 0px;
  }
  .section{
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 0vw;
  }
  .tabs .indicator{
    background-color: #1a237e;
  }
  .tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
   
  } 
  
  
body { 
    line-height: 1; 
    margin-bottom: 100px;
    font-family: sans-serif;
    font-size: 10px;
    color:rgb(66, 40, 218);
    background-image: url("../img/jj-ying-WmnsGyaFnCQ-unsplash.jpg");
} 
.row .col{
  padding: 0rem;
}
/*Blue font 

.tabs .indicator{
    /*background-color: #3a49f8c2;
}
    */
    
   
  
  .tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
  }

  .portfolio{
height: 100%;
width: 50%;
  }



/* Brand Logo 
.brand {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
} */

.li-card, .li, .ul {
    padding: 1%;
    color: yellow
}


footer {
  width:100%;
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: rgb(223, 236, 32);
  text-align: center;
 

}

@media screen and (max-width: 567px){
  .header{
    height: 60% ;   
    }
  .summary {
      padding-left: 20px;
    }
  .contact {
    padding-left: 20px;
  }

}

@media screen and (max-width: 670px) {
  header {
    background-size: cover;
    min-height: 75px;
  }
  .summary {
    padding-left: 10px;
  }
}



  @media screen and (max-width: 768px){
    header {
      min-height: 50px;
      }
    h1 {
      font-size: 2em;
      }
    h2 {
      font-size: 1.75em;
    }
    h3 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.25em;
    }
    h5, a {
      font-size: 1em;
      color: rgb(2, 2, 59);
    }
    btn, btn-secondary {
      font-size: 1em;
      width: 50%;
    }
    .right {
      color:rgb(223, 236, 32);
      }

    .contact{
      text-align: right;
      padding-left: 5px;
    }
    .summary {
      padding-left: 10px;
    }
    body {
      /*padding: 5em; */
      font-size: 1.25em;
    }

  }



